name: Test

on:
  push:

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js and NPM
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: npm install
        run: |
          npm install

      - name: npm test
        env:
          OPENAI_KEY: ${{ secrets.OPENAI_KEY }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run package
          npm run lint
          npm test

      - name: Upload Coverage Report as Artifact
        uses: actions/upload-pages-artifact@v1
        with: 
          path: './coverage/lcov-report/'
